@charset "utf-8";

#viewport {
  
}

#header {
  width: 4.77em;
  height: 2.71em;
  margin-left: 1.00em;
  h1 {
    @include replaceImage;
    width: 4.77em;
    height: 2.71em;
    background: url(../../img/top/sp/txt-01.png) top center no-repeat;
    background-size: contain;
  }
}

// ---------------------------------------------------------------------------------------
//
// SMARTPHONE
//
// ---------------------------------------------------------------------------------------
@media only screen and (min-width: $sp_width + px) {

}

// ---------------------------------------------------------------------------------------
//
// TABLET
//
// ---------------------------------------------------------------------------------------
@media only screen and (min-width: $tb_width + px) {

}

// ---------------------------------------------------------------------------------------
//
// PC
//
// ---------------------------------------------------------------------------------------
@media only screen and (min-width: $pc_width + px) {

}
